@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html {font-family:'Inter', Arial, sans-serif; /* 1 */-ms-text-size-adjust:none; /* 2 */-webkit-text-size-adjust:none; /* 2 */font-size:16px; line-height:26px; -webkit-font-smoothing: antialiased;color:#101010;margin:0 auto;}
:root {
    --white: #f6f6f6;
    --black: #333652;
    --gray: #6f6f6f;
    --blue: /*#90ADC6*/ #9ccee1;
    --dark-blue: #2b6490;
    --yelow: /*#FAD02C*/ #f2c300;
    --orange: #ff6347;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{margin:0 auto; padding:0;color:#101010;min-height: 100vh;}
div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0; outline:none;}
article,aside,details,time,caption,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}
audio,canvas,progress,video {display: inline-block; /* 1 */vertical-align: baseline; /* 2 */}
audio:not([controls]) {display: none;height: 0;}
[hidden],template {display: none;}
abbr[title] {border-bottom: 1px dotted;}
b,strong {font-weight:700;}
dfn {font-style: italic;}
mark {background: #ff0;color: #111;}
small {font-size: 80%; line-height:80%;}
sub,sup {font-size:60%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;left:1px;}
sub {bottom: -0.25em;}
img {border: 0; display:block;}
i{font-style:normal;}
/*svg:not(:root) {overflow: hidden;}*/
figure {margin:0;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}
pre {overflow: auto;}
code,kbd,pre,samp {font-size: 1em;}
button,input,optgroup,select,textarea {color: inherit; /* 1 */font: inherit; /* 2 */margin: 0; /* 3 */}
button {overflow: visible;}
button,select {text-transform: none;}
button,html input[type="button"], /* 1 */input[type="reset"],input[type="submit"] {-webkit-appearance: button; /* 2 */cursor: pointer; /* 3 */}
button[disabled],html input[disabled] {cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
input {line-height: normal;}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box; /* 1 */padding: 0; /* 2 */ }
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend {border: 0; /* 1 */padding: 0; /* 2 */}
textarea {overflow: auto;}
optgroup {font-weight: bold;}
table {border-collapse: collapse;border-spacing: 0;}
td,th {padding: 0;}
::placeholder {color: var(--gray); opacity: 0.9;}
a {color: var(--black);text-decoration: none;transition: all .2s ease-in-out;}

/* HEADER */
h1 {font-size: 32px;line-height: 40px;margin: 0 0 16px 0;font-weight: 700;}
h1.logo {height: 68px;margin: 0;float: left;padding: 10px 19px 10px 0;}
h1.logo img {width: auto;height: 48px;}
.hide_mobile {
    display: block;
    visibility: visible;
}
.header {
    height: 68px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 5;
    background: white;
}
.header .header-in {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}
.hide_desktop {
    display: none !important;
    visibility: hidden;
}
.header-in div {
    height: 68px;
    align-content: center;
}

/* HEADER */

/*  */
.cd-main-content {
    min-height: 100%;
    position: relative;
    /* z-index: 2; */
    padding: 0;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 0 auto;
    padding-top: 56px;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.3' height='46.8' patternTransform='scale(1) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='m46.08-12.52-5.68 9.8H12.6L7.77 0-4.1 20.63H-22v5.5h17.9L7.77 46.8l4.83 2.72h27.8l5.68 9.8 14.41.05 7.24-12.52-7.24-12.52-13.19-.05h-1.22l-5.68 9.8H12.6L.68 23.4 12.6 2.72h27.8l5.68 9.8h1.15l.06.1 13.2-.05L67.73.05 60.5-12.47ZM77.03.05 65.16 20.68H47.3v-.06h-5.9L34.14 7.97h-6.4l8.9 15.43-8.9 14.87h6.4l7.25-12.15h5.87v.06h17.9l11.87 20.67 4.83-2.72-11.92-20.68L81.86 2.77Z'  stroke-width='1' stroke='none' fill='hsla(197, 53%, 75%, 0.25)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.hero {
    height: 60vh;
    width: 100%;
    background: #90adc6;
    background: -webkit-linear-gradient(45deg, #90adc6 0%, #9ccee1 100%);
    background: linear-gradient(45deg, #90adc6 0%, #9ccee1 100%);
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.hero-in {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
}
p.title {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    color: var(--white);
    font-weight: 400;
    margin-bottom: 1rem;
}
h2.title {
    font-size: 50px;
    line-height: 55px;
    margin: 0;
    color: var(--white);
    font-weight: 900;
    margin-bottom: 1rem;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 0 16px;
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px 6px #dddddd;
    -moz-box-shadow: 0 0 20px 6px #dddddd;
    box-shadow: 0 0 20px 6px #dddddd;
}
.blockbox {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0 16px 16px 16px;
    margin-bottom: 32px;
}
.overflow {
    overflow: hidden;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
}
.card-header {
    background-color: var(--dark-blue);
    color: var(--white);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    transition: 1s;
}
.card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}
.card-header>.card-tools {
    float: right;
    margin-right: -.625rem;
}
.card-header>.card-tools>button {
    background-color: transparent;
    border: none;
}
.card.collapsed-card .card-header {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
table {
  border-collapse: collapse;
  width: 100%;
  /* max-width: 800px; */
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/* table input */
.table-input input {
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
}
.table-input input:focus {
    border: 1px solid var(--black);
    border-radius: 5px;
}
.table-input-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--orange);
}
.table-input-header h4 {
    font-size: 18px;
}
/* table budget planner result */
#table-bp-result tr.table_header {
    background-color: var(--blue) !important;
    color: var(--black);
    text-align: left;
}
#table-bp-result tr:nth-child(odd), #table-ang-result tbody tr:nth-child(odd), #table-ang-result tbody td.first {
    background-color: #f2f2f2;
}
#table-bp-result td:nth-child(1) {
    width: 60%;
}
#table-bp-result td:nth-child(2) {
    width: 40%;
}
/* table anggaran result */
#table-ang-result tbody tr.available {
    background-color: lime;
}
/* =============  */
.card-body button, #btn-calc, #to-anggaran a {
  padding: 6px 10px;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  cursor: pointer;
}
.card-body .table-input-header button {
    color: var(--orange);
    background-color: white;
    border:  1px solid var(--orange);
    border-bottom: none;
}
.card-body button:hover, #btn-calc:hover, #to-anggaran a:hover {
    background-color: #d4533c;
}
.card-body .table-input-header button:hover {
    background-color: var(--orange);
    color: var(--white);
}
/*  */
.box-converter {
    height: auto;
    width: 100%;
    max-width: 800px;
    /* padding: 0 0 0 0; */
    margin: 16px auto;
    border-radius: 10px;
    position: relative;
}
.box-filter {
    /* height: auto;
    min-height: 72px; */
    width: 100%;
    max-width: 800px;
    padding: 16px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    background: rgba(249,249,249);
}
label.small{font-size:12px; display:inline-flex; min-height:14px; line-height:14px;}
label.medium{font-size:14px; display:inline-flex; font-weight:600; min-height:30px;}
.element-box {
    margin: 0;
    position: relative;
    height: auto;
}
.element-box input.element-input {
    width: 100%;
    padding: 12px 20px;
    background: #fff;
    border: 1px solid #D3D4D4;
    font-size: 14px;
    color: #202020;
    border-radius: 20px;
}
.element-box input.element-input.normal {
    height: 40px;
    font-size: 14px;
    padding: 8px;
    padding-left: 48px;
}
.element-box input.element-input:disabled {
    background-color: #dddddd;
}
.element-box select.element-select {
    color: #202020;
    width: 100%;
    height: 40px;
    padding: 5px 5px 5px 10px;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #424242 50%), linear-gradient(135deg, #424242 50%, transparent 50%), linear-gradient(to right, #424242 , #424242 );
    background-position: calc(100% - 19px) calc(50% + 1px), calc(100% - 14px) calc(50% + 1px), calc(100% - 36px) 0px;
    background-size: 5px 5px, 5px 5px, 0px 36px;
    background-repeat: no-repeat;
}
.element-box select.element-select:focus {
    background-image: linear-gradient(135deg, transparent 50%, #424242 50%), linear-gradient(45deg, #424242 50%, transparent 50%), linear-gradient(to right, #424242 , #424242 );
    background-position: calc(100% - 19px) calc(50% + 1px), calc(100% - 14px) calc(50% + 1px), calc(100% - 36px) 0px;
    background-size: 5px 5px, 5px 5px, 0px 36px;
    background-repeat: no-repeat;
}
.element-box select.element-select.noicons, .element-box input.element-input.noicons, .element-box textarea.element-area.noicons {
    padding-left: 10px !important;
    min-width: 10px;
}
.element-box .icons{width:40px; height:40px; position:absolute; left:0; top:0;border-right: 1px solid #D3D4D4; display: flex; align-items:center; justify-content: center;}
.element-box .icons.right {right:0; left:inherit; border-right:none; border-left: 1px solid #D3D4D4; width: 48px;}
.element-box.tahun .icons.right {width: 100px;text-align: center;}
td.element-box .icons{width:40px; height:53px; position:absolute; left:0; top:0; border: none; display: flex; align-items:center; justify-content: center;}
.table-input .element-box input {padding-left: 24px;}
/*  */
#btn-calc, #to-anggaran a {
    width: 100%;
    font-weight: 700;
    padding: 12px;
    border-radius: 10px;
}
#to-anggaran a {
    display: block;
    text-align: center;
}
.div-chart {width: 50%; margin: 0 auto;}
/*  */
/* FOOTER */
.footer {
    background: #fff;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    position: relative;
    height: auto;
    width: 100%;
}
.footer .footer-bot {
    background: var(--black);
    padding: 40px 0;
}
/* FOOTER */
/* GLOBAL */
.t-center{text-align:center !important;}.t-right{text-align:right !important;}.t-left{text-align:left !important;}
.cl-white { color: #fff !important; } .cl-gray { color: var(--gray);} .cl-red{color:#e50014 !important;}
.padding-no {padding:0 !important;}.padding-ss{padding:4px !important;}.padding-xs{padding:8px !important;}.padding-sm{padding:16px !important;}.padding-lg{padding:24px !important;}.padding-xl{padding:32px !important;}.padding-top-no {padding-top:0 !important;}.padding-top-ss {padding-top:5px !important;}.padding-top-xs {padding-top:8px !important;}.padding-top-sm {padding-top:16px !important;}.padding-top-lg {padding-top:24px !important;}.padding-top-xl {padding-top:32px !important;}.padding-bottom-no {padding-bottom:0 !important;}.padding-bottom-ss {padding-bottom:4px !important;}.padding-bottom-xs {padding-bottom:8px !important;}.padding-bottom-sm {padding-bottom:16px !important;}.padding-bottom-lg {padding-bottom:24px !important;}.padding-bottom-xl {padding-bottom:32px !important;}.padding-left-no {padding-left:0 !important;}.padding-left-ss {padding-left:4px !important;}.padding-left-xs{padding-left:8px !important;}.padding-left-sm {padding-left:16px !important;}.padding-left-lg {padding-left:24px !important;}.padding-left-xl {padding-left:32px !important;}.padding-right-no {padding-right: 0 !important;}.padding-right-ss {padding-right:4px !important;}.padding-right-xs {padding-right:8px !important;}.padding-right-sm {padding-right:16px !important;}.padding-right-lg {padding-right:24px !important;}.padding-right-xl {padding-right:32px !important;}
.padding-top-xxl{padding-top:80px !important;}.padding-bottom-xxl{padding-bottom:80px !important;}.padding-left-xxl{padding-left:80px !important;}.padding-right-xxl{padding-right:80px !important;}
.margin-no {margin:0 !important;}.margin-xs{margin:8px !important;}.margin-ss{margin:4px !important;}.margin-sm{margin:16px !important;}.margin-lg{margin:24px !important;}.margin-xl{margin:32px !important;}.margin-top-no {margin-top:0 !important;}.margin-top-ss {margin-top:4px !important;}.margin-top-xs {margin-top:8px !important;}.margin-top-sm {margin-top:16px !important;}.margin-top-lg {margin-top:24px !important;}.margin-top-xl {margin-top:32px !important;}.margin-bottom-no {margin-bottom:0 !important;}.margin-bottom-ss {margin-bottom:4px !important;}.margin-bottom-xs {margin-bottom:8px !important;}.margin-bottom-sm {margin-bottom:16px !important;}.margin-bottom-lg {margin-bottom:24px !important;}.margin-bottom-xl {margin-bottom:32px !important;}.margin-left-no {margin-left:0 !important;}.margin-left-ss {margin-left:4px !important;}.margin-left-xs {margin-left:8px !important;}.margin-left-sm {margin-left:16px !important;}.margin-left-lg {margin-left:24px !important;}.margin-left-xl {margin-left:32px !important;}.margin-right-no {margin-right:0 !important;}.margin-right-ss {margin-right:4px !important;}.margin-right-xs {margin-right:8px !important;}.margin-right-sm {margin-right:16px !important;}.margin-right-lg {margin-right:24px !important;}.margin-right-xl {margin-right:32px !important;}
.margin-top-xxl{margin-top:80px !important;}.margin-bottom-xxl{margin-bottom:80px !important;}.margin-left-xxl{margin-left:80px !important;}.margin-right-xxl{margin-right:80px !important;}
.fw4{font-weight:400 !important;}.fw5{font-weight:500 !important;}.fw6{font-weight:600 !important;}.fw7{font-weight:700 !important;}
.container-col{margin-left:-16px; margin-right:-16px;}
.container-col.medium-col{margin-left:-8px; margin-right:-8px;}
.col-1 {width: calc(8.33% - 10px);}
.col-2 {width: calc(16.66% - 10px);}
.col-3 {width: calc(25% - 10px);}
.col-4 {width: calc(33.33% - 10px);}
.col-5 {width: calc(41.66% - 10px);}
.col-6 {width: calc(50% - 10px);}
.col-7 {width: calc(58.33% - 10px);}
.col-8 {width: calc(66.66% - 10px);}
.col-9 {width: calc(75% - 10px);}
.col-10 {width: calc(83.33% - 10px);}
.col-11 {width: calc(91.66% - 10px);}
.col-12 {width: calc(100% - 10px);}
/* [class*="col-"] {
  float: left;
  padding:0 16px;
}
[class*="medium8"] {
  float: left;
  padding:0 8px !important;
} */
.radius0{border-radius:0px !important;}
.radius2{border-radius:2px !important;}
.radius4{border-radius:4px !important;}
.radius6{border-radius:6px !important;}
.radius8{border-radius:8px !important;}
.radius10{border-radius:10px !important;}
.radius18{border-radius:18px !important;}
.radius20{border-radius:20px !important;}
.radius50{border-radius:50% !important;}
.flex {display: flex;}
.flex-wrap {flex-wrap: wrap;}
.d-none {display: none;}
.gap-20 {gap: 20px;}
.justify-content-between{justify-content: space-between !important;}
.align-content-center{align-content: center !important;}
span.err-msg{font-size: 12px; font-style: italic; color: #e50014;}
.text-center {text-align: center !important;}